<h1>Gripes</h1>
<h2>The Gateway to Humanity's Peeves</h2>

<h3>Gripe Boards</h3>
  <% if @boards.any? %>
    <div class="row">
    <% @boards.each do |board| %>
      <div class="col-sm-2 ms-2 me-2 m-2">
        <div class="card" style="width: 10rem; height: 10rem;">
          <img src="" class="card-img-top" alt="<%=board[0]%>">
          <div class="card-body">
            <a href="<%= interface_path(board) %> /board/#{board[1]" class="btn btn-primary"><%=board[0]%></a>
          </div>
        </div>
      </div>
  <% end%>
    </div>
  <% else %>
  <p>No boards have been created yet</p>
<% end %>