/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= @import "bootstrap-sprockets";
 */

@import "bootstrap";



#boardposts {
  max-height: 75%;
  max-width: 75%;
  height: 75vh;
  width: 75vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#boardcenter {
  text-align: center;
  text-decoration: underline;
}

#boardIndex {
  background: image-url('diamonds.jpg');
}

body {
  background: linear-gradient(144deg, #85CB33, #EFFFC8, #A5CBC3);
  background-size:cover;
  background-repeat:no-repeat;
  background-position-y: bottom;
  min-height: 100vh;
}

#indexHeader{
  background-color: rgba(218, 165, 32, 0.7);
  border-radius: 10px;
  border: 10px solid rgb(0, 0, 0);
  text-align: center;
  margin: 2em;
}

#boardCards {
  width: 100%;
  height: 15em;
  border: 10px solid rgb(0, 0, 0);
}